 
<% layout('layout/layout')%>
<div class="container">
  <h1>Block List</h1>
</div>
 
<div class="container" style="overflow-x: scroll;white-space: nowrap;">
 
  <% blocks.forEach(function(el, idx) {%>
   <% let str_border = (selectedIdx != null && selectedIdx == el.number)? 'border-primary':'';%>
 
  <div class="card <%=str_border %>" onclick="showBlock(<%=el.number%>);">
     <div class="card-header">
        <h4>Block <%=el.number%></h4>
     </div>
     <div class="card-body">
        <ul class="list-group list-group-flush">
           <li class="list-group-item">
              <span>Hash</span>
              <div class="text-truncate"><%=el.hash %></div>
           </li>
           <li class="list-group-item">
              <span>PrevHash</span>
              <div class="text-truncate"><%=el.parentHash %></div>
           </li>
           <li class="list-group-item">
              <span>Nonce</span>
              <div class="text-truncate"><%=el.nonce%></div>
           </li>
           <li class="list-group-item">
              <span>Timestamp</span>
              <div class="text-truncate"><%=el.timestamp%></div>
           </li>
        </ul>
     </div>
  </div>
 
  <% }) %>
 
</div>
<hr />
<div class="container">
 
  <% if(selectedIdx > 0 && txs && txs.length>0) { %>
  <h1>Transaction List (Block <%=selectedIdx%>)</h1>
  <table class="table table-hover table-striped">
     <thead>
        <tr>
           <th>#</th>
           <th>From</th>
           <th>To</th>
           <th>Amount</th>
           <th>Valid?</th>
        </tr>
     </thead>
     <tbody>
        <% txs.forEach( function (el, idx) { %>
        <tr> 
           <td><%=idx%></td>
            <% if(el.from == null){ %>
               <td class="text-truncate" style="max-width: 150px;" ><%=el.from%></td>
            <%}
            else{%>   
           <td class="text-truncate" style="max-width: 150px;" ><a href='/eth/wallet/<%=el.from%>'><%=el.from%></a></td>
            <%}%>
           <td class="text-truncate" style="max-width: 150px;" ><a href='/eth/wallet/<%=el.to%>'><%=el.to%></a></td>
           <td><%=el.value%></td> 
           <td><span>✓</span></td>
        </tr>
        <% }) %>
     </tbody>
  </table>
  <% } %>
</div>
 
 
 
<script>
  function showBlock(index) {
     console.log('idx : ', index);
     location.href = '/eth/block/' + index;
  }


</script>
